.myinfo{
    float: left;
    width: 25%;
    min-height: 100px;
    word-wrap: break-word;
}
.mydesc{
    margin-left: 15px;
    float: right;
    width: 70%;
    min-height: 150px;
}

.mypic{
    max-width: 300px;
}
.bigbr{
    margin-bottom: 15px;
}


.titrearticle{

}

.principal{
    float: left;
    width: 70%;
}

.searchbar{
    float: right;
    width: 25%;
}

.article{
    margin-bottom: 25px;
}

.comm{
    margin-bottom: 25px;
}

.onLeft{
    float: left;
    width: 33%;
}
.onRight{
    float: right;
    width: 67%;
}
.ltlpic{
    max-height: 100px;
}
.mycontainer{
    width: 100%;
    margin-bottom: 25px;
    margin-top: 25px;
}