{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    {% for user in users %}
        {% if user.cv and user.id != myId %}
            <a href="{{ path('show_other_cv', {'userID': user.id}) }}">{{ user.cv.nom }} {{ user.cv.prenom }}</a><br/>
        {% endif %}
    {% endfor %}
{% endblock %}
